<div class="row">
    {{#each questions}}
    <div class="col-md-4 pt-4">
        <div class="card border-success">
            {{#if this.images}}
            <img class="card-img-top" src="{{images.[0]}}" alt="Card image cap">
            {{/if}}
            <div class="card-body">
                <h4 class="card-tittle text-center"><b>{{question}}</b></h4>
                <hr>
                <h5><span class="badge badge-success">{{category}}</span></h5>
                <ul class="list-group border border-info">
                    {{#each this.options}}

                    {{#if this.status}}
                    <li class="list-group-item list-group-item-success">
                        <h6 class="card-text text-center">{{this.option}}</h6>
                    </li>
                    {{else}}
                    <li class="list-group-item">
                        <h6 class="card-text text-center">{{this.option}}</h6>
                    </li>
                    {{/if}}

                    {{/each}}
                </ul>
                <br>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text"><small class="text-muted">Ultima modificación {{timeAgo}}.</small></p>
            </div>
        </div>
    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">Aún no existen preguntas.</p>
            <a href="/questions/add" class="btn btn-primary btn-block">Crear pregunta</a>
        </div>
    </div>
    {{/each}}
</div>