<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva pregunta</h3>
        </div>
        <div class="card-body">
            <form action="/questions/new-question" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <h4>Pregunta:</h4>
                    <textarea name="_question" rows="2" maxlength="150" class="form-control"
                        placeholder="Escribe una pregunta" autofocus>{{_question}}</textarea>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" id="image" onchange="preview_image(event)"
                            class="custom-file-input" aria-describedby="inputGroupFileAddon">
                        <label for="image" class="custom-file-label">Elige una imagen (opcional)</label>
                    </div>
                    <img id="imgPreview" src="#" alt="" class="img-fluid rounded" />
                </div>
                <div class="form-group">
                    <h4>Categoria:</h4>
                    <select class="custom-select mr-sm-2" name="_category">
                        {{#if _category}}
                        <option selected>{{_category}}</option>
                        {{else}}
                        <option selected>Elegir categoría</option>
                        {{/if}}
                        <option value="Astronomía">Astronomía</option>
                        <option value="Ciencia">Ciencia</option>
                        <option value="Deporte">Deporte</option>
                        <option value="Entretenimiento">Entretenimiento</option>
                        <option value="Fisica">Fisica</option>
                        <option value="Geografía">Geografía</option>
                        <option value="Historia">Historia</option>
                        <option value="Literatura">Literatura</option>
                        <option value="Matemáticas">Matemáticas</option>
                        <option value="Música">Música</option>
                    </select>
                </div>
                <div class="form-group">
                    <h4>Opciones:</h4>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="_option1id" checked disabled>
                        <label class="custom-control-label" for="_option1id">Opcion correcta:</label>
                    </div>
                    <input type="text" name="_option1" for="_option1id" class="form-control"
                        placeholder="Primera opcion" value="{{_option1}}">
                    <br>

                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="_option2id" name="_statusOp2">
                        <label class="custom-control-label" for="_option2id">Segunda opcion (opcional
                            correcta):</label>
                    </div>
                    <input type="text" name="_option2" for="_option2id" class="form-control"
                        placeholder="Segunda opcion" value="{{_option2}}">
                    <br>

                    <label class="custom-control-label" for="_option3id">Tercera opcion:</label>
                    <input type="text" name="_option3" for="_option3id" class="form-control"
                        placeholder="Tercera opcion" value="{{_option3}}">
                    <br>

                    <label class="custom-control-label" for="_option4id">Cuarta opcion:</label>
                    <input type="text" name="_option4" for="_option4id" class="form-control" placeholder="Cuarta opcion"
                        value="{{_option4}}">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
